AWS_ACCOUNT_ID=1234567890
AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=xxxxxx/xxxxxxxxxxxxxxxxxxxxxxxx
AWS_DEFAULT_REGION=us-east-1

REGISTRY=${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com
REGISTRY_USERNAME=AWS
REGISTRY_PASSWORD="$$(aws ecr get-login-password)"
